@page "/History"
@inject ClassLibrary.ISqlDataAccess _db

<h3>History</h3>

@if (digitalBooks is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
            <tbody>
                @foreach (var book in digitalBooks)
                {
                    <tr>
                        <td><a href="/Detail/@book.Id">@book.Title</a></td>
                    </tr>
                }
            </tbody>
    </table>
}

@code {
    private List<DigitalBook> digitalBooks = new List<DigitalBook>();

    protected override async Task OnInitializedAsync()
    {
        digitalBooks = await _db.GetBooks();
    }
}
